desktop {
	bg-color: white;
	color: black;
}

screen {
	transition: fade(200);
}

screentopbar {
	padding: 4;
	bg-image: url(screen_topbar_light.png,4,4,16,16);
	border: 4;
	border-image: url(screen_topbar_light.png) 4 4 4 4;
}

screentopbar text {
	layout-data: sld(left, 1, -1);
	font-style: bold;
	color: white;
	align: left;
    padding: 0 0 0 32;
	bg-image: url(icon_small.png);
	bg-repeat: 1 1;
	bg-align: left;
}

screenbottombar {
    color: white;
}

screenfirstmenu,popupboxfirstmenuitem {
	border: 12 12 2 2;
	border-image: url(menu_light.png) 12 12 2 2;
    bg-image: url(menu_light.png,2,12,2,2);
	min-size: 36 16;
    padding: 0 4 4 8;
	align: left;
}

screenfirstmenu:pressed,popupboxfirstmenuitem:pressed {
    border-image: url(menu_light_pressed.png) 12 12 2 2;
    bg-image: url(menu_light_pressed.png,2,12,2,2);
}

screensecondmenu,popupboxsecondmenuitem {
	border: 12 2 2 12;
	border-image: url(menu_light.png,0,0,16,16,mirror) 12 2 2 12;
   	bg-image: url(menu_light.png,2,12,2,2,mirror);
	min-size: 36 16;
    padding: 0 8 4 4;
	align: right;
}

screensecondmenu:pressed,popupboxsecondmenuitem:pressed {
    border-image: url(menu_light_pressed.png,0,0,16,16,mirror) 12 2 2 12;
    bg-image: url(menu_light_pressed.png,2,12,2,2,mirror);
}

popupboxbottombar {
	
}

button {
	margin: 1;
	padding: 2 4 2 4;
	font-style: bold;
	color: black;
	bg-image: url(button_default.png,8,8,8,8);
	bg-align: center;
	border: 8;
	border-image: url(button_default.png) 8 8 8 8;
	border-align: none none bottom none none none bottom none;
}

button:focused {
	bg-image: url(button_default_focused.png,8,8,8,8);
	border-image: url(button_default_focused.png) 8 8 8 8;
}

button:pressed {
	bg-image: url(button_default_pressed.png,8,8,8,8);
	border-image: url(button_default_pressed.png) 8 8 8 8;
}

button:disabled, button:disabled:pressed {
    bg-image: url(button_default_disabled.png,8,8,8,8);
	border-image: url(button_default_disabled.png) 8 8 8 8;
	color: #808080;
}

textfield {
	border: 8;
	border-image: url(textfield_light.png) 8 8 8 8;
	color: black;
}

textfield:focused {
	border-image: url(textfield_light_focused.png) 8 8 8 8;
}

text.tooltip {
	color: #808080;
	padding: 0 2 0 2;
	font-size: small;
}

choice {
	border: 4;
	border-image: url(choice_light.png) 4 4 4 4;
	bg-image: url(choice_arrow_light.png);
	bg-repeat: 1 1;
	bg-align: right;
	bg-color: #dddddd;
	color: black;
}

choice:focused {
	border-image: url(choice_light_focused.png) 4 4 4 4;
	bg-color: #85cbe5;
}

.formEntry {
	border: 0 0 1 0;
	margin: 0 0 3 0;
	padding: 0 0 2 0;
	border-color: #325c5c;
}

radiobutton {
	bg-image: url(radiobutton_light_off.png);
	bg-align: left;
	bg-repeat: 1 1;
	padding: 6 8 6 28;
	align: left;
}

radiobutton:focused {
	bg-image: url(radiobutton_light_off_focused.png);
}

radiobutton:pressed {
	bg-image: url(radiobutton_light_off_pressed.png);
}

radiobutton:selected {
	bg-image: url(radiobutton_light_on.png);
}

radiobutton:selected:focused {
	bg-image: url(radiobutton_light_on_focused.png);
}

radiobutton:selected:pressed {
	bg-image: url(radiobutton_light_on_pressed.png,120,0,24,24);
}

tabitembutton {
	padding: 2 4 2 4;
	border: 4;
    min-size: 44 24;
	border-image: url(tab_button.png) 4 4 4 4;
	bg-image: url(tab_button.png,4,4,2,2);
	color: #ffffff;
	align: center;
    weight: 0 1;
}

tabitembutton:selected {
	border-image: url(tab_button_selected.png) 4 4 4 4;
    bg-image: url(tab_button_selected.png,4,4,2,2);
}

tabitembutton:pressed {
	border-image: url(tab_button_pressed.png) 4 4 4 4;
    bg-image: url(tab_button_pressed.png,4,4,2,2);
}

tabitembutton:disabled, tabitembutton:disabled:pressed {
	border-image: url(tab_button_disabled.png) 4 4 4 4;
	bg-image: url(tab_button_disabled.png,4,4,2,2);
	color: #808080;
}

tabfolderbuttonscontainer {
    border: 2;
	border-image: url(tab_background_light.png) 2 2 2 2;
    bg-image: url(tab_background_light.png,2,2,28,20);
    padding: -2;
    align: center;
}

tabfolder.library tabfolderbuttonscontainer {
	align: left;
}

text.label {
	color: white;
}

.separator {
	min-size: 0 1;
	bg-color: #cccccc;
	margin: 2 0 2 0;
}

scrollpane scrollpanecontainer {
	padding: 4;
}

scrollbar {
	padding: 1 0 0 2;
	border: 0 1 1 0;
	border-color: none;
	bg-color: none;
}

scrollbarbar {
	min-size: 3 4;
	border: 1;
	border-image: url(scrollbar_light.png) 1 1 1 1;
	bg-color: #808080;
}

listitem {
	gap: 5 0;
    padding: 4;
    border: 2;
    bg-color: none;
}

checkbox,radiobutton,listitem {
	border-color: none;
}

listitem:pressed,listitem:focused:pressed {
    bg-image: url(list_background_pressed.png,2,2,2,2);
}

listitem:focused {
    border-image: url(list_background_focused.png) 2 2 2 2;
    bg-image: url(list_background_focused.png,2,2,2,2);
}

tabitem checkbox:focused,tabitem radiobutton:focused,choicescreen radiobutton:focused {
	border-color: #ffffff;
	bg-color: #33b5e5;
	color: white;
}

checkbox {
	bg-image: url(checkbox_light_off.png);
	bg-align: left;
	bg-repeat: 1 1;
	padding: 6 8 6 28;
	align: left;
}

checkbox:focused {
	bg-image: url(checkbox_light_off_focused.png);
}

checkbox:pressed {
	bg-image: url(checkbox_light_off_pressed.png);
}

checkbox:selected {
	bg-image: url(checkbox_light_on.png);
}

checkbox:selected:focused {
	bg-image: url(checkbox_light_on_focused.png);
}

checkbox:selected:pressed {
	bg-image: url(checkbox_light_on_pressed.png);
}

menupopup {
	border: 16 16 7 16;
	border-image: url(menu_popup_dark.png) 16 16 7 16;
    padding: -7 -7 -2 -7;
	bg-color: #303030;
	color: white;
}

menupopup .separator {
	min-size: 0 1;
	bg-color: #a0a0a0;
	margin: 1 0 1 0;
}

menuitem,menu {
    border: 2;
	min-size: 64 16;
    color: white;
}

menuitem {
	padding: 4;
}

menu {
	padding: 4 16 4 4;
	bg-image: url(menu_arrow_dark.png);
	bg-repeat: 1 1;
	bg-align: right;
}

menu:focused {
    border-image: url(list_background_focused.png) 2 2 2 2;
    bg-image: url(list_background_focused.png,2,2,2,2) | url(menu_arrow_dark.png);
    bg-repeat: 0 0 | 1 1;
	bg-align: center | right;
}

menu:pressed,menu:focused:pressed {
    border-image: url(list_background_pressed.png) 2 2 2 2;
    bg-image: url(list_background_pressed.png,2,2,2,2) | url(menu_arrow_dark.png);
    bg-repeat: 0 0 | 1 1;
	bg-align: center | right;
}

menuitem:focused {
    border-image: url(list_background_focused.png) 2 2 2 2;
    bg-image: url(list_background_focused.png,2,2,2,2);
}

menuitem:pressed,menuitem:focused:pressed {
    border-image: url(list_background_pressed.png) 2 2 2 2;
    bg-image: url(list_background_pressed.png,2,2,2,2);
}

popupbox {
    padding: -4;
	border: 16;
	border-image: url(popup_light.png) 16 16 16 16;
    bg-image: url(popup_light.png,16,16,64,8);
	layout-data: sld(center, .9, -1);
}

popupbox textarea {
	align: center;
}

popupboxbuttonscontainer {
	align: center;
	padding: 2;
}

popupbox.splash {
	layout-data: sld(center, .8, .8);
	bg-color: #55565a;
}

/*******************************************************************************/
container.library {
	padding: 2;
}

radiogroup.mixed radiobutton {
	layout: inlinelayout(true, center);
	gap: 4 0;
}

radiobutton.flags {
	padding: 0;
	border: 1;
	align: center;
}

radiobutton.flags:focused {
	border-color: black;
}

textarea {
	align: center;
}

textarea.library {
	align: left;
}

textarea.textareademo {
	align: left;
	font-size: large;
}

text.white {
	bg-color: white;
	color: black;
}

text.black {
	bg-color: black;
	color: white;
}

progressbar {
    bg-image: url(progressbar_light_background.png);
    bg-align: center;
    bg-repeat: 0 1;
}

progressbarprogress {
    min-size: 0 16;
    bg-image: url(progressbar_progress.png,0,0,2,16);
    bg-repeat: 0 1;
    border: 0 20 0 0;
    border-image: url(progressbar_progress.png) 0 20 0 0;
}

seekbar {
    bg-image: url(seekbar_light_background.png);
    bg-align: center;
    bg-repeat: 0 1;
}

seekbarprogress {
    min-size: 0 12;
    bg-image: url(seekbar_progress.png);
    bg-repeat: 0 1;
}

seekbarhandle {
    margin: 0 -12 0 -12;
    min-size: 24 24;
    bg-image: url(seekbar_control.png);
    bg-align: center;
    bg-repeat: 1 1;
}

seekbarhandle:focused {
    bg-image: url(seekbar_control_focused.png);
}

seekbarhandle:pressed,seekbarhandle:focused:pressed {
    bg-image: url(seekbar_control_pressed.png);
}

popupbox.splash text {
	color: white;
	align: center;
	font-size: large;
}

screenbottombar digitalclock {
    color: black;
}